:root {
    --game-border: black;
    --game-background: black;
    --snake-background: white;
    --snake-border: gold;
    --food-background: lightgreen;
    --food-border: darkgreen;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50rem;
    height: 50rem;

    max-width: 90%;
    max-height: 90%;

    margin: auto;
}

canvas {
    border: 1px solid var(--game-border);
}
